<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="OUTPUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger{5}@[%-4.30thread]) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.http4s" level="WARN" />
    <logger name="org.http4s.server" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="OUTPUT"/>
    </root>
</configuration>
