* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    height: 100%;
    font-family: Lato, sans-serif;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #837F84;
    font-weight: 400;
}

header {
    color: black;
}

main {
    flex: 1;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #162341;
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.85em;
}

footer a {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

/*footer*/
.copyright {
    padding: 20px;
}

/*header*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.nav-left {
    display: inline-flex;
}

.nav-right {
    display: inline-flex;
}

i {
    vertical-align: middle;
}

.tab {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
}

.tab-small {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
}

.searchbar-input {
    border: 2px solid #aaa;
    border-radius: 20px;
    outline: none;
    padding: 8px 16px;
}

.tab:hover, .tab-small:hover {
    background-color: #ddd;
}

.tab.selected, .tab-small.selected {
    background-color: #2196F3;
    color: white;
}

/*main*/
.tab-content {
    display: none;
}

.tab-content.selected {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #f2f2f2;
}

td {
    font-size: 0.85em;
}

thead tr:nth-child(1) th {
    position: sticky;
    z-index: 10;
}

a {
    color: #02B4E5;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.status-item {
    border-right: 1px solid darkgrey;
    padding: 20px;
}

.status {
    background-color: black;
    display: flex;
}

.status-title {
    color: white;
    text-transform: uppercase;
    margin: 0;
    font-size: 0.85em;
    margin-bottom: 4px;
}

.status-value {
    display: flex;
    align-items: center;
    color: orange;
    font-size: 1.2rem;
    margin: 0;
}

.select-option {
    border: 1px solid transparent;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Modal Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Modal Close Button */
.modal-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 16px;
    text-transform: uppercase;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #f1f1f1;
    color: white;
}

/* Forms */
label {
    text-transform: capitalize;
}

/* input */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}
input.invalid, input.invalid:focus
{
  border: 1px solid red;
}

input.valid, input.valid:focus
{
  border: 1px solid #ccc;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 0.85em;
    font-family: monospace;
    height: 40em;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    text-transform: uppercase;
}

button:hover {
    opacity: 0.8;
}

.modal-confirm {
    width: 100%;
}

.modal-cancel {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.modal button {
    margin: 8px 0;
}

/* spinner */
.spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

/* led */
.led-red {
    margin: 4px;
    width: 16px;
    height: 16px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 1px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 1px 1px;
}

.led-green {
    margin: 4px;
    width: 16px;
    height: 16px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 1px 1px, inset #304701 0 -1px 9px, #89FF00 0 1px 1px;
}

.switch {
  position: relative;
  display: inline-block;
  align-items: center;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.flex {
  display:flex
}
